* {
    margin: 0;
    padding: 0;
    background-color: #111a23;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    color: white;
    line-height: 1.6;
    margin-bottom: 20px;
}

nav {
    width: 100%;
    padding: 20px;
    background-color: #60d526;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav .btn-ant,
nav .btn-sig {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
}

nav .btn-ant {
    background-color: #4697a9;
    color: white;
}

nav .btn-ant:hover {
    background-color: rgb(158, 158, 202);
    cursor: pointer;
}

nav .btn-sig {
    background-color: #006600;
    color: white;
}

nav .btn-sig:hover {
    background-color: rgb(104, 185, 112);
    cursor: pointer;
}

nav button:disabled{
    background-color: darkgray;
    cursor: initial;
}

nav .text1 {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px;
    background-color: #60d526;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text2 {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #ffffff;
    gap: 1rem;
}

.text3 {
    font-size: 2rem;
    font-weight: bold;
    color: #ff0000;
}

.targets {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    background-color: #1a1a1a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border-bottom: 5px solid white;
    display: block;
}

.info {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-targets {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 2rem;
}

b {
    font-size: 20px;
    color: #60d526;
}

.status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-alive {
    background-color: #60d526;
}

.status-dead {
    background-color: red;
}

.status-unknown {
    background-color: gray;
}

.lds-hourglass {
    /* change color here */
    color: #1c4c5b
  }
  .lds-hourglass,
  .lds-hourglass:after {
    box-sizing: border-box;
  }
  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }